#{
 "Death by...caramel apple? For five people, it appears so... http://t.co/hIVQZLVert"
 "Gold medalist Michael Phelps pleads guilty to DUI http://t.co/lqrw7pa7O4 http://t.co/NZhr4wjr79"
 "FBI formally accuses North Korea of being responsible for Sony hack http://t.co/E6CSVWz4m8 http://t.co/MVxKdzUars"
 "Flight emergency-lands in Lubbock for medical emergency http://t.co/eYHUMaU6vO"
 "ICYMI | Frenship senior Kennedy Reeves was critically injured by an F-150 on Wednesday http://t.co/yDGbYISbCr http://t.co/lUhRChcfsj"
 "Pedestrian struck by vehicle near Central Lubbock elementary school http://t.co/Vt4ObKeHws"
 "Follow @AJ_Ellysa Gonzalez's tweets from the last board of health meeting of 2014."
 "UPDATE: Student struck by vehicle in Central Lubbock was first-grader, may have run out in front of car http://t.co/dAgODSgCzA"
 "Obama declares 2014 'a breakthrough year for America' http://t.co/eCZ8vxz8dv http://t.co/a1KcIeJtT0"
 "UPDATE: Driver of vehicle that hit 1st-grader said he was first to check on student, was concerned http://t.co/Sq2CcFS7av"
 "Two #SouthPlains men plead guilty in federal court to possession of child pornography http://t.co/Yl3Is1FVuc"
 "Kim Jong Un game spoof 'Glorious Leader!' moving forward http://t.co/KIvWgfKYyy http://t.co/Df1BccJVio"
 "The City Council can find a way to make the Omni Building useful.\nhttp://t.co/b6sH5SGfG6"
 "Tent City...  \nStill working to expand services. http://t.co/smKARjNikR http://t.co/LKYS06thpb"
 "The Following Are The Obituaries For Sunday, December 21st, 2014 In The Lubbock Avalanche Journal &amp; Lubbock Online:\nhttp://t.co/1OOCwHfPAX"
 "Today in History: \nSunday, Dec. 21, the 355th day of 2014. \nWinter arrives at 6:03 p.m. E.T. \nhttp://t.co/HmUDRxrA4E http://t.co/UqRh7nU9kR"
 "Killings of 2 New York officers trigger backlash.\nhttp://t.co/qNBOHDipTK http://t.co/Lm4GgFgkVp"
}
