{
 "Busy morning? Here are 10 things you need to know to start your day: http://t.co/FzVhTYefv8 http://t.co/Q2nLCfYcXu" false
 "If you're taking North Milwaukee Avenue today, be aware of lane closures and limited access http://t.co/pa0fBXNwEg" false
 "Texas Tech women's basketball looks froward to facing UT-Pan American after long lay off http://t.co/JpHMz21DFJ" true
 "Follow Seagraves vs. Albany in the 2A state semifinals on http://t.co/CWAtclU7yw's live Game Tracker. http://t.co/0pPgyN6mhd" true
 "UPDATE: Police identify body found at I-27, Marsha Sharp http://t.co/7kWmMl7rWu http://t.co/lVmvA0ik5l" false
 "Texas Tech forward Aaron Ross cleared to play http://t.co/xoVnd9YWuh" true
 "Tech has offered two offensive linemen from Hawaii (FREE): http://t.co/JVH1tz8Ul2" true
}
